on post-fs-data
    exec - root -- /system/bin/sh /system/bin/on-post-fs-data.sh
    mkdir /data/vendor_de/0 0700 system system
    mkdir /data/vendor_de/0/fpdata 0700 system system
    chown system system /data/system
    mkdir /data/system/users 0755 system system
    mkdir /data/system/users/0 0700 system system
    mkdir /data/system/users/0/fpdata 0700 system system

on property:init.svc.vendor.hwcomposer-2-2=running
    stop ppd

on charger
    start charger

service charger /sbin/charger
    class charger
    group system graphics wakelock
    capabilities BLOCK_SUSPEND SYS_ADMIN SYS_BOOT
