on post-fs-data
    exec - root -- /system/bin/sh /system/bin/on-post-fs-data.sh
    mkdir /data/vendor_de/0 0700 system system
    mkdir /data/vendor_de/0/fpdata 0700 system system
    chown system system /data/system
    mkdir /data/system/users 0755 system system
    mkdir /data/system/users/0 0700 system system
    mkdir /data/system/users/0/fpdata 0700 system system
    mkdir /data/vendor_ce
    mkdir /data/vendor_ce/0
    setprop sys.user.0.ce_available true
    setprop ctl.restart vendor.ramoops_sh

on property:init.svc.vendor.hwcomposer-2-2=running
    stop ppd

on property:init.svc.imsqmidaemon=running
    stop imsqmidaemon

on property:init.svc.imsdatadaemon=running
    stop imsdatadaemon

on property:init.svc.ims_rtp_daemon=running
    stop ims_rtp_daemon

on property:init.svc.imsrcsservice=running
    stop imsrcsservice