on early-init
    setprop debug.stagefright.ccodec 0

on init
    setprop debug.stagefright.ccodec 0

on boot
    setprop persist.vendor.radio.mt_sms_ack 30
    setprop persist.vendor.radio.manual_nw_rej_ct 1
    setprop persist.rcs.supported 0
    setprop persist.vendor.cne.feature 1
    setprop persist.vendor.data.iwlan.enable true
    setprop persist.radio.RATE_ADAPT_ENABLE 1
    setprop persist.radio.ROTATION_ENABLE 1
    setprop persist.radio.VT_ENABLE 1
    setprop persist.radio.VT_HYBRID_ENABLE 1
    setprop persist.vendor.radio.apm_sim_not_pwdn 1
    setprop persist.vendor.radio.custom_ecc 1
    setprop persist.vendor.radio.data_ltd_sys_ind 1
    setprop persist.radio.videopause.mode 1
    setprop persist.vendor.radio.sib16_support 1
    setprop persist.vendor.radio.data_con_rprt true
    setprop persist.vendor.radio.relay_oprt_change 1
    setprop persist.vendor.radio.no_wait_for_card ""
    setprop debug.stagefright.ccodec 0
    write /sys/devices/virtual/thermal/tz-by-name/backup-charge/mode enabled
    write /proc/irq/default_smp_affinity f
    enable vendor.qcrild

on post-fs
    setprop vendor.qcom.time.set true

on post-fs-data
    exec - root -- /system/bin/sh /system/bin/on-post-fs-data.sh
    mkdir /data/vendor_de/0 0700 system system
    mkdir /data/vendor_de/0/fpdata 0700 system system
    chown system system /data/system
    mkdir /data/system/users 0755 system system
    mkdir /data/system/users/0 0700 system system
    mkdir /data/system/users/0/fpdata 0700 system system
    mkdir /data/vendor_ce
    mkdir /data/vendor_ce/0
    setprop ro.qc.sdk.audio.fluencetype fluencepro
    setprop persist.audio.fluence.voicecall true
    setprop persist.audio.fluence.speaker true
    setprop sys.user.0.ce_available true
    setprop ctl.restart vendor.ramoops_sh

service ppd ppd_HALIUM_DISABLED
    override

service imsrcsservice imsrcsd_HALIUM_DISABLED
    override

on property:init.svc.imsrcsservice=running
    stop imsrcsservice

# Disable time_daemon
service time_daemon time_daemon_HALIUM_DISABLED
    override

# Disable Android audio HAL, PulseAudio is our alternative
service vendor.audio-hal-2-0 android.hardware.audio@2.0-service_HYBRIS_DISABLED
    disabled
    oneshot
    override

# Rely on a non-spamming thermal management solution
service vendor.thermal-engine /vendor/bin/thermal-engine_HYBRIS_DISABLED
    disabled
    oneshot
    override

# Reduce log spam from unneeded service
service storaged /system/bin/storaged_HALIUM_DISABLED
    class main
    capabilities DAC_READ_SEARCH
    priority 10
    file /d/mmc0/mmc0:0001/ext_csd r
    writepid /dev/cpuset/system-background/tasks
    user root
    group package_info
    disabled
    oneshot
    override

service usbd /system/bin/usbd_HALIUM_DISABLED
    disabled
    oneshot
    override

# Pin IRQs to little cluster
service msm_irqbalance /vendor/bin/msm_irqbalance -f /system/etc/msm_irqbalance.conf
    socket msm_irqbalance seqpacket 660 root system
    class core
    user root
    group root
    override
    writepid /dev/cpuset/system-background/tasks
